aniso8601==8.1.0
api==0.0.7
art==5.2
attrs==20.3.0
Babel==2.9.0
blinker==1.4
bokeh==2.2.3
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2

cycler==0.10.0
dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dnspython==2.0.0
email-validator==1.1.2

future==0.18.2
greenlet==1.1.0
idna==2.10
importlib-metadata==3.4.0


jsonschema==3.2.0
kiwisolver==1.3.2
lxml==4.6.3

matplotlib==3.4.3
mongoengine==0.22.1
nodejs==0.1.1
nose==1.3.7
numpy==1.19.5
optional-django==0.1.0
packaging==20.8
pandas==1.2.0
passlib==1.7.4
Pillow==8.1.0
plotly==4.14.3
pymongo==3.11.2
pymssql==2.2.2
pyodbc==4.0.31
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-pptx==0.6.18
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
retrying==1.3.3
six==1.15.0
speaklater==1.3
SQLAlchemy==1.4.20

tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.2

wfastcgi==3.0.0
WTForms==2.3.3
XlsxWriter==1.4.3
zipp==3.4.0
