<configuration>  
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
            <add name="Flask Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\inetpub\wwwroot\flask\dash_flask\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\flask\dash_flask" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\flask\dash_flask\app.log" />
	<add key="SCRIPT_NAME" value="/python_g21" />

  </appSettings>
  </configuration> 